@model Orchard.Users.Models.PasswordPolicySettingsPart
@{
    Layout.Title = T("Password Settings");
}
<fieldset>
    <legend>
        @T("Complexity settings")
    </legend>
    <div>
        <label for="@Html.FieldIdFor(m => m.MinPasswordLength)">@T("Minimum password length")</label>
    </div>
    <div>
        @Html.EditorFor(m => m.MinPasswordLength)
    </div>
    <div>
        <label for="@Html.FieldIdFor(m => m.MinLowerCaseChars)">@T("Minimum number of lowercase characters [a-z]")</label>
    </div>
    <div>
        @Html.EditorFor(m => m.MinLowerCaseChars)
    </div>
    <div>
        <label for="@Html.FieldIdFor(m => m.MinUpperCaseChars)">@T("Minimum number of UPPERCASE characters [A-Z]")</label>
    </div>
    <div>
        @Html.EditorFor(m => m.MinUpperCaseChars)
    </div>
    <div>
        <label for="@Html.FieldIdFor(m => m.MinNummericChars)">@T("Minimum number of nummeric characters [0-9]")</label>
    </div>
    <div>
        @Html.EditorFor(m => m.MinNummericChars)
    </div>
    <div>
        <label for="@Html.FieldIdFor(m => m.MinNummericChars)">@T("Minimum number of non-alphanummeric characters (Special characters)")</label>
    </div>
    <div>
        @Html.EditorFor(m => m.MinNummericChars)
    </div>
</fieldset>
<fieldset>

    <legend>
        @T("Advanced options")
    </legend>
    <div>
        @Html.EditorFor(m => m.KeepPasswordHistory)
        <label class="forcheckbox" for="@Html.FieldIdFor(m => m.KeepPasswordHistory)">@T("Keep password history")</label>
    </div>
    <div data-controllerid="@Html.FieldIdFor(m => m.KeepPasswordHistory)">
        @Html.EditorFor(m => m.AllowPreviousPasswords)
        <label class="forcheckbox" for="@Html.FieldIdFor(m => m.AllowPreviousPasswords)">@T("Allow users to use previously used passwords")</label>
    </div>
</fieldset>
